html, body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 0.78);
}
h1{
  color:#07b8f3;
  background-color: black;
  font-family:Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
p{
  color: rgb(0, 0, 0);
  font-family: 'Young Serif', serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
canvas{
  display: block;
  margin:auto;
}
#myp5{
  border: 10px black;
}
